USE [master]
GO
/****** Object:  Database [OnlineStoreDB]    Script Date: 18/06/2026 4:46:59 PM ******/
CREATE DATABASE [OnlineStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OnlineStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OnlineStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OnlineStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\OnlineStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OnlineStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OnlineStoreDB]
GO
/****** Object:  Table [dbo].[Checkout_Details]    Script Date: 18/06/2026 4:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkout_Details](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[checkout_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Checkouts]    Script Date: 18/06/2026 4:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Checkouts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NULL,
	[address] [nvarchar](255) NULL,
	[order_date] [datetime] NULL,
	[total_amount] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 18/06/2026 4:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NULL,
	[product_id] [int] NULL,
	[quantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18/06/2026 4:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NULL,
	[price] [int] NULL,
	[image] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 18/06/2026 4:47:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Checkout_Details] ON 

INSERT [dbo].[Checkout_Details] ([id], [checkout_id], [product_id], [quantity]) VALUES (1, 2, 6, 2)
INSERT [dbo].[Checkout_Details] ([id], [checkout_id], [product_id], [quantity]) VALUES (2, 2, 7, 1)
INSERT [dbo].[Checkout_Details] ([id], [checkout_id], [product_id], [quantity]) VALUES (3, 3, 6, 2)
SET IDENTITY_INSERT [dbo].[Checkout_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Checkouts] ON 

INSERT [dbo].[Checkouts] ([id], [client_id], [address], [order_date], [total_amount]) VALUES (1, 1, N'chhim/marjAli', CAST(N'2026-06-18T10:38:56.183' AS DateTime), CAST(36.00 AS Decimal(18, 2)))
INSERT [dbo].[Checkouts] ([id], [client_id], [address], [order_date], [total_amount]) VALUES (2, 1, N'montLebanon', CAST(N'2026-06-18T11:13:24.147' AS DateTime), CAST(26.00 AS Decimal(18, 2)))
INSERT [dbo].[Checkouts] ([id], [client_id], [address], [order_date], [total_amount]) VALUES (3, 1, N'hjgytr', CAST(N'2026-06-18T12:32:38.617' AS DateTime), CAST(20.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Checkouts] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [price], [image]) VALUES (2, N'Pearl Neckace1', 12, N'p1.jpg')
INSERT [dbo].[Products] ([id], [name], [price], [image]) VALUES (3, N'Pearl Neckace2', 15, N'p2.jpg')
INSERT [dbo].[Products] ([id], [name], [price], [image]) VALUES (4, N'Pearl Neckace3', 13, N'p3.jpg')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
INSERT [dbo].[users] ([id], [username], [password]) VALUES (1, N'hanine', N'1234')
INSERT [dbo].[users] ([id], [username], [password]) VALUES (2, N'amal', N'123456')
GO
ALTER TABLE [dbo].[Checkouts] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[Checkout_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Checkouts] FOREIGN KEY([checkout_id])
REFERENCES [dbo].[Checkouts] ([id])
GO
ALTER TABLE [dbo].[Checkout_Details] CHECK CONSTRAINT [FK_Details_Checkouts]
GO
ALTER TABLE [dbo].[Checkout_Details]  WITH CHECK ADD  CONSTRAINT [FK_Details_Products] FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[Checkout_Details] CHECK CONSTRAINT [FK_Details_Products]
GO
ALTER TABLE [dbo].[Checkouts]  WITH CHECK ADD  CONSTRAINT [FK_Checkouts_Users] FOREIGN KEY([client_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[Checkouts] CHECK CONSTRAINT [FK_Checkouts_Users]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[Products] ([id])
GO
USE [master]
GO
